/* aDis Mediaimages */

.cdmedi {
     background: transparent url(../images/medienicon/medienkombination_a.gif) no-repeat scroll left bottom;
}
.cddiskette_a {
     background:transparent url(../images/medienicon/diskette_a.gif) no-repeat scroll left bottom;
}
.cdbinary {
     background:transparent url(../images/medienicon/elektr_ressource_a.gif) no-repeat scroll left bottom;
}
.cdmudruck_a {
     background: transparent url(../images/medienicon/noten_a.gif) no-repeat scroll left bottom;
}
.cdbuch_rot_a {
     background: transparent url(../images/medienicon/buch_rot_a.gif) no-repeat scroll left bottom;
}
.cdbeitrag {
     background: transparent url(../images/medienicon/aufsatz_a.gif) no-repeat scroll left bottom;
}
.cdhandschrift {
     background: transparent url(../images/medienicon/aufsatz_a.gif) no-repeat scroll left bottom;
}
.cdmicrofilm {
     background: transparent url(../images/medienicon/mikrofiche_a.gif) no-repeat scroll left bottom;
}
.cddvd_a {
     background: transparent url(../images/medienicon/dvd_a.gif) no-repeat scroll left bottom;
}
.cdvideo_a {
     background: transparent url(../images/medienicon/video_a.gif) no-repeat scroll left bottom;
}
.cdcd_a {
     background: transparent url(../images/medienicon/cd_a.gif) no-repeat scroll left bottom;
}
.cdma_a {
     background: transparent url(../images/medienicon/mc_a.gif) no-repeat scroll left bottom;
}
.cdv {
     background: transparent url(../images/medienicon/video_a.gif) no-repeat scroll left bottom;
}
.cdserie {
     background: transparent url(../images/medienicon/serie_a.gif) no-repeat scroll left bottom;
}
.cdmehrbaendig_a {
     background: transparent url(../images/medienicon/serie_a.gif) no-repeat scroll left bottom;
}
.cdzeitschrift_a {
     background: transparent url(../images/medienicon/zeitschrift_a.gif) no-repeat scroll left bottom;
}
.cdejournal_a {
     background: transparent url(../images/medienicon/ejournal_a.gif) no-repeat scroll left bottom;
}
.cdebook {
     background: transparent url(../images/medienicon/ebook_a.gif) no-repeat scroll left bottom;
}

/* aDis Mediaimages */

